<!-- col-xs-offset-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-lg-offset-4 thumbnail"> -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 texte-intro">
    <h1 id="">Après minuit aussi on a le droit de bien manger !</h1>
    <h3 class="text-muted"> Il n'y a pas que les kebabs et les pizzas dans la vie ! </h3>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body text-center">
    Menu Indien
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail">
    <%= image_tag "garam-rice.jpg" %>
    <h3>MENU <button type="button" class="btn btn-info">8 €</button>  / <p> A partir de 1h <button type="button" class="btn btn-info">8,50 €</button> </p> 
    </h3>

    <p> Une délicieux riz aux saveurs indiennes</br> (curcuma,badiane,bergamote)</br>
      Accompagné de savoureux émincés de poulet aux épices garam massala, poivrons et oignons </br>
      1 boisson 
    </p>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-md-offset-1 col-md-8 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail">
    <%= image_tag "garam.jpg" %>
    <h3>Portion individuelle de poulet <button type="button" class="btn btn-info">Info</button>
</h3>
    <p> Une portion de savoureuses bouchées de Poulet au Garam massala</br>
      poivron et oignon
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-md-offset-1 col-md-8 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail">
    <%= image_tag "biryani2.jpg" %>
    <h3>Portion individuelle de riz <button type="button" class="btn btn-info">Info</button>
</h3>
    <p> Une généreuse portion de riz aux saveurs indiennes
    </p>
  </div>
</div> -->
<div class="panel panel-default">
  <div class="panel-body text-center">
    Menu Toons'
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail">
    <%= image_tag "pates.jpg" %>
    <h3>MENU <button type="button" class="btn btn-info">8 €</button>  / <p> A partir de 1h <button type="button" class="btn btn-info">8,50 €</button> </p> 
    </h3>
    <p>
     Une généreuse portion de pâtes à la sauce tomate façon tunisienne (épices, graines de fenouille...)
     Accompagnée de délicieux morceaux de poulet sautés à la poêle</br>
     1 boisson 
   </p>
 </div>
</div>

<!--   <div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-md-offset-1 col-md-8 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail">
    <%= image_tag "poulet-poivron.jpg" %>
    <h3> Portion individuelle de poulet émincé <button type="button" class="btn btn-info"></button>
</h3>
    <p> Une portion de savoureuses bouchées de Poulet au poivron et oignon</br>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-md-offset-1 col-md-8 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 thumbnail pate-tomate">
    <%= image_tag "pates-tomates.jpg" %>
    <h3>Portion individuelle de pâtes <button type="button" class="btn btn-info">Info</button>
</h3>
    <p> Une généreuse portion de pâtes à la tunisienne
    </p>
  </div>
</div> -->
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-8 col-lg-offset-1 commande">
    <h1> Passez commande : 06 68 90 84 52</h1>
    <p> Livraison uniquement, de 23h à 3h </br> 
      Pour le momemt : paiement en espèce UNIQUEMENT </br>
      Dans la mesure du possible, merci de commander en avance. Le standard est ouvert à partir de 22h. </br>
      <h3>Zone de livraison : les villes du 93 situées sur l'axe A3-A1, A3-A86. Et à proximité du périphérique entre Porte de Vincennes-porte d'Aubervilliers</h3>
       Livraison à partir de 16e (soit 2 menus) pour les communes de </br> Montfermeil, Bondy, Livry-Gargan, Tremblay, Villepinte et Sevran.
    </p>

<hr>

<footer>
  <p>&copy; La Salle du Temps 2014
  </p>
</footer>